<!-- gift section -->
<section>
  <div class="container">
    <h2 class="title_gift">Gifts for all Occasions</h2>
    <p class="text_gift">
      “Try our web app to find the best gifts for all occasions”
    </p>
    <ul class="list_gift">
      <li class="item_gift">
        <img src="./images/rectangle_4.jpg" alt="" width="270" />
        <div class="wrapp_gift">
          <p class="list_title">Birthday</p>
          <a
            class="link_gift"
            href="https://github.com/AntonRoston/project_parcel_test"
            >See More ›</a
          >
        </div>
      </li>
      <li class="item_gift">
        <img src="./images/rectangle_1.jpg" alt="" width="270" />
        <div class="wrapp_gift">
          <p class="list_title">Anniversary</p>
          <a
            class="link_gift"
            href="https://github.com/AntonRoston/project_parcel_test"
            >See More ›</a
          >
        </div>
      </li>
      <li class="item_gift">
        <img src="./images/rectangle_2.jpg" alt="" width="270" />
        <div class="wrapp_gift">
          <p class="list_title">Valentine's Day</p>
          <a
            class="link_gift"
            href="https://github.com/AntonRoston/project_parcel_test"
            >See More ›</a
          >
        </div>
      </li>
      <li class="item_gift">
        <img src="./images/rectangle_3.jpg" alt="" width="270" />
        <div class="wrapp_gift">
          <p class="list_title">Christmas</p>
          <a
            class="link_gift"
            href="https://github.com/AntonRoston/project_parcel_test"
            >See More ›</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
