<!-- gift section -->
<section>
  <div class="container">
    <h2 class="title_gift">Gifts for all Occasions</h2>
    <p class="text_gift">
      “Try our web app to find the best gifts for all occasions”
    </p>
    <ul class="">
      <li>
        <img src="" alt="" />
        <p>Birthday</p>
        <a href="">See More ›</a>
      </li>
      <li>
        <img src="" alt="" />
        <p>Anniversary</p>
        <a href="">See More ›</a>
      </li>
      <li>
        <img src="" alt="" />
        <p>Valentine's Day</p>
        <a href="">See More ›</a>
      </li>
      <li>
        <img src="" alt="" />
        <p>Christmas</p>
        <a href="">See More ›</a>
      </li>
    </ul>
  </div>
</section>
