<section class="regist">
    <container class="regist__container container">
        <div class="regist__thumb-heading">
            <h2 class="regist__heading">Ready to get started?</h2>
            <p class="regist__text">Sign up or contact us</p>
        </div>
        <div class="regist__thumb-btn">
            <button type="button" class="regist__gift-btn button">Find gift now</button>
            <button type="button" class="regist__work-btn button">how it works</button>
        </div>
    </container>
</section>