.container{
    width: 1440px;
}
.title_gift{
    font-size: 32px;
    line-height: 1.18;
    text-align: center;
}

.text_gift{
    font-size: 18px;
    line-height: 135.94%;
    text-align: center;
}

.list_title{
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 1.2;

}
.link_gift{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
}
.wrapp_gift{
    display: flex;
}