.regist {
    margin: 0 auto;
    background-color:#F7941E;
    padding-top: 81px;
    padding-bottom: 69px;
}
.regist__container {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    padding: 0 15px;
}
.regist__thumb-btn {
    display: flex;
}
.regist__gift-btn {
    width: 200px;
    height: 50px;
}
.regist__work-btn {
    width: 200px;
    height: 50px;
    margin-left: 16px;
}